*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/* 
body{
    background-image: url('images/bg_4.jpg')
    /* background-size: cover;
    background-position: center;
} */ 

h1{
   font-family: "Josefin Sans", Arial, sans-serif;
}

p{
    font-family:"Poppins", Arial, sans-serif;
    font-size: 15px;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h1{
    font-size: 50px;
}

.carousel-caption h3{
    color: #c49b63;
    font-size: 40px;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    font-size: 20px;
    margin: auto;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(39, 39, 39, 0.7);
    z-index: 1;
}

/* NAVBAR */
.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top {
    background-color: black !important;
    padding: 10px;
    padding-bottom: 25px;
}


.navbar-brand {
    padding: 0; /* Eliminar el relleno interno */
    padding-top: 0;
}

.navbar-brand img {
    height: 70px;
    width: 70px;
}


.navbar-nav .nav-link {
    margin-right: 20px; /* Agregar espacio entre los elementos <li> */
    color: white; /* Cambiar el color del texto a blanco */
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    color: #c49b63; /* Cambiar el color del texto al pasar el mouse */
}


.navbar-brand {
    position: absolute;
    left: 0;
    margin-left: 20px;

}

.navbar-brand a{
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 500;
   font-family: "Josefin Sans", Arial, sans-serif;
}


 
.navbar-light .navbar-brand{

    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: black;
}

.navbar-light .navbar-nav .navbar-link{
    color: black;
}

.w-100{
    height: 100vh;
}

nav{
    color: black;
}

 div.container{
    margin: 0;
    padding-right: 0;
    padding-left: 25px;
    padding-top: 25px;
}

#about{
    background-color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

#about.about-section-padding{
    width: 95%;
}
 
img.img-fluid{
    margin-top: 20px;
    max-width: 110%;
    height: auto;
}

.about-text h1{
    
    font-size: 85px;
    color: #c49b63;
    font-family: "Great Vibes", cursive;
    line-height: 0;
    margin: 0;
}


.about-text h3{
    font-size: 60px;
  
}

h4#estilo {
    font-size: 40px;
    color: #c49b63;
    font-family: "Great Vibes", cursive;
    margin-bottom: 15px;
  
}

.container{
    padding-top: 25px;
}

a.button-ver{
    margin: 200px;
    border-radius: 6px;
    background-color: rgb(180, 142, 92);
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a.button-ver:hover {
    background-color: rgba(124, 108, 69, 0.5); /* Cambiar el color de fondo al pasar el mouse */
    color: #fff;
}

/* HOVER IMG */

/* Estilo de la imagen en la sección "About" o "Historia" */
.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Agrega bordes redondeados a la imagen */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave para el efecto */
}

/* Efecto de sombra cuando se pasa el mouse sobre la imagen */
.about-img img:hover {
    transform: scale(1.05); /* Escala ligeramente la imagen cuando se activa el hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
}



/* RESPONSIVE */
@media only screen and (max-width: 390px) and (max-height: 840px) {
    /* Agrega aquí tus modificaciones para la adaptación al iPhone 12 Pro */
    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
        width: 390px;
    }
  

    /* Ajustes específicos para los elementos que necesites */
    h1 {
        font-family: "Josefin Sans", Arial, sans-serif;
        font-size: 25px;
    }

    p {
        font-family: "Poppins", Arial, sans-serif;
        font-size: 12px;
    }

    .section-padding {
        padding: 50px 0;
    }

    .carousel-caption {
        width: 390px;
        bottom: 100px;
    }

    .carousel-caption h1 {
        font-size: 20px !important;
    }

    .carousel-caption h3 {
        font-size: 15px !important;
    }

    .carousel-caption p {
        font-size: 10px !important;
    }

    .navbar-brand img {
        height: 50px;
        width: 50px;
    }

    .navbar{
        width: 390px !important;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
    }

    .about{
        width: 360px;
        padding-left: 0px
    }

    .about-text h1 {
        font-size: 40px;
    }

    .about-text h3 {
        font-size: 30px;
    }

   #about div.container {
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 0px;
    }

    #historia h4 {
        font-size: 20px;
    }


    .card-container h3 {
        font-size: 20px;
    }

    .card-container p {
        font-size: 14px;
    }

    #form h1 {
        font-size: 30px;
    }

    #form h3 {
        font-size: 20px;
    }

    #form label {
        font-size: 14px;
    }

    #form input,
    #form select {
        font-size: 12px;
    }

    #productos h1 {
        font-size: 40px;
    }

    #productos h3 {
        font-size: 20px;
    }

    #productos p {
        font-size: 14px;
    }

    footer h3 {
        font-size: 30px;
    }

    .frases-cafe {
        text-align: center;
    }

    .redes-sociales img {
        height: 20px !important;
        margin-left: 20px;
    }

    .contenedor-img {
        width: 300px;
        max-width: 300px; /* Para asegurar que no sobrepase el ancho deseado */
        height: auto;
    }
    
}

    /* Ajustes para el video de la sección overlay */
    /* #overlay video {
        width: 100%;
        height: auto;
    }
} */

/* .video-frame {
    width: 100%; /* Establece el ancho máximo */
    /* height: auto; 
    margin: 24px;  */
/* } */ 

/* .product-image {
    width: 50%; /* Ancho máximo */
    /* height: auto; 
    margin: 24px;  */
/* } */ 
/* SECCION PRODUCTOS */

#productos h1{
    padding-top: 45px;
    text-align: center;
    font-size: 75px;
    color: #c49b63;
    font-family: "Great Vibes", cursive;
    line-height: 0;
    margin: 0;
}

#productos h3{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;

}

#productos p{
    padding-top: 40px;
}

#productos{
    background-image: url(images/bg_4.jpg);
    margin-top: 15px;
    margin-bottom: -30px;
    padding: 45px;

}

/* HOVER IMG */

.contenedor-img:hover img {
    transform: scale(1.1); /* Escalar la imagen al 110% cuando se activa el hover */
    transition: transform 0.3s ease; /* Agregar una transición suave para el efecto */
}
/* card */

 h3.white{
    color: white;
}

#locales{
    position: relative;
    background-image: url('images/patryk-gauza-vs0tzSHVcac-unsplash.jpg'); /* Cambiar la URL de la imagen según corresponda */
    background-size: cover;
    background-position: center;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
}

div#sanTelmo.card,div#palermo.card{
    border-radius: 40px;
}

.button-container{
    padding-top: 45px;
}


#card img{
    padding: 35px;
    margin: auto;
    height: 500px;
    border-radius: 65px;
}

#card button {
    border-style: outset;
    border-color: blanchedalmond;
    background: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: #c49b63;
    border-radius: 14px;
    margin: 0 40px; 
}

/* Alinear los botones al centro */

#card {
    padding: 90px;
    text-align: center;
    margin: 25px; /* Espacio entre el carrusel y los botones */
    position: relative;
    z-index: 1; /* Asegura que las tarjetas estén por encima del overlay */

}

#card button {
    border-style: outset;
    border-color: blanchedalmond;
    background: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: #c49b63;
    border-radius: 14px;
    margin: 0 40px;
    transition: background-color 0.3s; /* Agregar una transición para suavizar el cambio de color de fondo */
}

#card button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Cambiar el color de fondo al pasar el mouse */
}

#card button.selected {
    background-color: #c49b63; /* Cambiar el color de fondo cuando está seleccionado */
    color: white; /* Cambiar el color del texto cuando está seleccionado */
}

/* Centrar las tarjetas */
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Espacio entre los botones y las tarjetas */
}
.card-container h3{
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container p{
    padding: 20px;
}
/* Efecto de fade-in */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* MAS EFECTOS */
/* card */
div.card{
    color: white;
    background-color: rgba(83, 70, 30, 0.838); /* Color blanco con 50% de opacidad */
    text-align: center;
}

div.card h5{
    color: #c49b63;
    font-size: 25px;
    font-family: "Josefin Sans", Arial, sans-serif;
    text-align: center;
}




.card {
    
    width: 60%;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo con opacidad */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Cambiar el tamaño de la tarjeta al pasar el mouse */
}


/* FORM */
#form {
  
    padding-top: 20px;
    padding-bottom: 20px;

}

#form h1 {
    color: #c49b63;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    line-height: 0;
    margin: 0;
}
#form h3 {
    color: black;
    font-size: 40px;
    font-family: "Josefin Sans", Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Estilo para los campos del formulario */
#form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #c49b63;
}

#form input,
#form select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #c49b63;
}

#form input[type="submit"] {
    background-color: #c49b63;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Agregar una transición para suavizar el cambio de color de fondo */
}

#form input[type="submit"]:hover {
    background-color: #b3834d; /* Cambiar el color de fondo al pasar el mouse */
}

#formularioReserva{
    width: 190%;
    text-align: left;
}

/* img form */
.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

.form-container {
    flex: 1; /* El formulario ocupa todo el espacio disponible */
    margin-right: 10px; /* Espacio entre el formulario y la imagen */
}

.imagen-container {
    flex: 1; /* La imagen ocupa todo el espacio disponible */
    margin-left: 10px; /* Espacio entre la imagen y el formulario */
}

.imagen-container img {
    max-width: 90%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

/* efectos img */

/* Estilo de la imagen en el formulario */
.imagen-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Agrega bordes redondeados a la imagen */
    transition: transform 0.3s ease; /* Agrega una transición suave para el efecto */
}

/* Efecto de rotación cuando se pasa el mouse sobre la imagen */
.imagen-container img:hover {
    transform: rotate(15deg); /* Aplica una rotación de 15 grados al pasar el mouse */
}


#cafe-logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    z-index: 1001;
}


.container-fluid h1 {
    color: #c49b63;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    line-height: 0;
    margin: 0;
}
.container-fluid h3 {
    color: black;
    font-size: 40px;
    font-family: "Josefin Sans", Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.container-fluid {
    background-image: url('images/nordwood-themes-ivP3TYdLvw0-unsplash.jpg');
    background-size: cover; /* Cubre todo el contenedor, sin distorsionar la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen en el contenedor */
    
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
}

.overlay2{
    margin: -30px;
}

/* video animacion */
/* CSS */

/* Define el estilo del contenedor del video */
.video-container {
    position: relative;
    display: inline-block;
  }
  
  /* Define el estilo del overlay para la animación */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave */
  }
  
  /* Define el estilo del iframe */
  .video-frame {
    display: block;
  }
  
  /* Cuando pases el mouse sobre el contenedor, muestra el overlay */
  .video-container:hover .overlay {
    opacity: 1;
  }
  
/* footer */
footer img{
    height: 100px;
}

footer h3{
    color: #c49b63;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    
}


footer {
    background-color: #000;
    color: #fff;
    padding: 20px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frases-cafe {
    text-align: left;
}

.redes-sociales {
    text-align: right;
}

.redes-sociales img {
    margin-left: 10px;
}

.redes-sociales img{
    height: 70px;
    margin-left: 40px; /* Espacio entre los logos */
}

/* hover */

.redes-icono img {
    transition: transform 0.3s ease;
  }
  
  .redes-icono:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
  }
  