*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/* 
body{
    background-image: url('images/bg_4.jpg')
    /* background-size: cover;
    background-position: center;
} */ 

h1{
   font-family: "Josefin Sans", Arial, sans-serif;
}

p{
    font-family:"Poppins", Arial, sans-serif;
    font-size: 15px;
}


/* NAVBAR */
.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top {
    background-color: black !important;
    padding: 35px;
    padding-bottom: 25px;
}


.navbar-brand {
    padding: 0; /* Eliminar el relleno interno */
    padding-top: 0;
}

.navbar-brand img {
    height: 70px;
    width: 70px;
}


.navbar-nav .nav-link {
    margin-right: 20px; /* Agregar espacio entre los elementos <li> */
    color: white; /* Cambiar el color del texto a blanco */
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    color: #c49b63; /* Cambiar el color del texto al pasar el mouse */
}


.navbar-brand {
    position: absolute;
    left: 0;
    margin-left: 20px;

}

.navbar-brand a{
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 500;
   font-family: "Josefin Sans", Arial, sans-serif;
}


 
.navbar-light .navbar-brand{

    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: black;
}

.navbar-light .navbar-nav .navbar-link{
    color: black;
}

.w-100{
    height: 100vh;
}

nav{
    color: black;
}

div.row.featurette{
    margin-top: 60px;
    padding-left: 35px;
    align-items: center;
}

div .container{
    margin: 0;
    padding-right: 0;
    padding-left: 25px;
    padding-top: 25px;
}


/* Estilo de la imagen en la sección "Historia" */

.about-img img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Agrega bordes redondeados a la imagen */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave para el efecto */
}

/* Efecto de sombra cuando se pasa el mouse sobre la imagen */
.about-img img:hover {
    transform: scale(1.05); /* Escala ligeramente la imagen cuando se activa el hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
}



/* card */
div.card{
    color: white;
    background-color: rgba(83, 70, 30, 0.838); /* Color blanco con 50% de opacidad */
    text-align: center;
}

div.card h5{
    color: #c49b63;
    font-size: 25px;
    font-family: "Josefin Sans", Arial, sans-serif;
    text-align: center;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/bg_4.jpg);
    background-size: cover;
}


.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    
    width: 40%;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo con opacidad */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Cambiar el tamaño de la tarjeta al pasar el mouse */
}

/* apartado historia */

.featurette {
    margin-bottom: 20px;
}

.featurette-image {
    border-radius: 10px;
}

.text-container {
    margin: 60px;
    padding: 20px;
    color: black; /* Color del texto */
    padding: 45px;
    align-items: center;
    text-align: center;
}

.text-container h1,
.text-container h3,
.text-container p {
    margin-top: 0;
    margin-bottom: 20px;
}

.text-container h1{
    color: #c49b63;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    line-height: 0;
    margin: 0;
}
.text-container h3{
    color: black;
    font-size: 40px;
    font-family: "Josefin Sans", Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    

}
.text-container p{
    font-size: 20px;
}
.texto{

    margin: 50px;
    background-color: rgb(179 156 101 / 50%); /* Opacidad del 50% */
    border-radius: 10px;
    padding: 20px;
    color: #fff; /* Color del texto */
    padding: 45px;
}

/* texto */

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    animation: slideIn 8s ease forwards;
}
/* ecectos para historia */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-img {
    animation: fadeIn 5s ease forwards;
}

.animated-text {
    animation: fadeIn 10s ease forwards;
}


.animated-text2 {
    animation: slideIn 20s ease forwards;
}

/* card */

h3.white{
    color: white;
}

#locales{
    position: relative;
    background-image: url('images/patryk-gauza-vs0tzSHVcac-unsplash.jpg'); /* Cambiar la URL de la imagen según corresponda */
    background-size: cover;
    background-position: center;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
}

div#sanTelmo.card,div#palermo.card{
    border-radius: 40px;
}

.button-container{
    padding-top: 45px;
}


#card img{
    padding: 35px;
    margin: auto;
    height: 500px;
    border-radius: 65px;
}

#card button {
    border-style: outset;
    border-color: blanchedalmond;
    background: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: #c49b63;
    border-radius: 14px;
    margin: 0 40px; 
}

/* Alinear los botones al centro */
#card {
    padding: 90px;
    text-align: center;
    margin: 25px; /* Espacio entre el carrusel y los botones */
    position: relative;
    z-index: 1; /* Asegura que las tarjetas estén por encima del overlay */

}

#card button {
    border-style: outset;
    border-color: blanchedalmond;
    background: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: #c49b63;
    border-radius: 14px;
    margin: 0 40px;
    transition: background-color 0.3s; /* Agregar una transición para suavizar el cambio de color de fondo */
}

#card button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Cambiar el color de fondo al pasar el mouse */
}

#card button.selected {
    background-color: #c49b63; /* Cambiar el color de fondo cuando está seleccionado */
    color: white; /* Cambiar el color del texto cuando está seleccionado */
}

/* Centrar las tarjetas */
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Espacio entre los botones y las tarjetas */
}
.card-container h3{
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container p{
    padding: 20px;
}
/* Efecto de fade-in */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}






/* footer */
footer img{
    height: 100px;
}

footer h3{
    color: #c49b63;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    
}


footer {
    background-color: #000;
    color: #fff;
    padding: 20px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frases-cafe {
    text-align: left;
}

.redes-sociales {
    text-align: right;
}

.redes-sociales img {
    margin-left: 10px;
}

.redes-sociales img{
    height: 70px;
    margin-left: 40px; /* Espacio entre los logos */
}

/* hover */
.redes-icono img {
    transition: transform 0.3s ease;
  }
  
  .redes-icono:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
  }
  